#app
{
    background: #fe6347;
    border: solid 2px #000;
}
.content
{
    margin-bottom: 200px;
}
.papa
{
display: flex;
justify-content: space-around;

}

.profil
{
    background: #fe6347;
    border: solid 2px #000;
    border-radius: 5px;
    margin: 10px;
}
img
{
    float: left;
    border: solid 10px #000;
}

.note
{
    background: #fe6347;
    border-radius: 5px;
    margin: 10px;
    width: 50%;
    text-align: center;
    border: solid 2px #000;
}

.tasks
{
    background: #fe6347;
    border-radius: 5px;
    margin: 10px;
    width: 50%;
    text-align: center;
    border: solid 2px #000;
}

.tags
{
    background: #fe6347;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: solid 2px #000;
}
